*{
  z-index: 1;
}
/* ----- בסיס לכל צורה ----- */

.shape {
  width: 85px;
  height: 30px;
  /* margin: 4px; */
  box-sizing: border-box;
}

/* ----- צורות ----- */

/* אליפסה */
.ellipse {
  border-radius: 15px / 50%;
  box-sizing: border-box;

}

/* מעוין  */
.diamond {
width: 30px;
height: 30px;
transform: scalex(2) rotate(45deg)  ;
box-sizing: border-box;
}

/* ----- צבעים ----- */
.red {
color: red;
}
.green {
color: green;
}
.purple {
color: purple;
}

.wave.empty.red {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-15 -15 170 110'><path d='M10,40 C40,-20 100,100 130,40' stroke='red' stroke-width='30' fill='none' stroke-linecap='round'/><path d='M10,40 C40,-20 100,100 130,40' stroke='white' stroke-width='23' fill='none' stroke-linecap='round'/></svg>");
}

.wave.empty.green {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-15 -15 170 110'><path d='M10,40 C40,-20 100,100 130,40' stroke='green' stroke-width='30' fill='none' stroke-linecap='round'/><path d='M10,40 C40,-20 100,100 130,40' stroke='white' stroke-width='23' fill='none' stroke-linecap='round'/></svg>");
}

.wave.empty.purple {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-15 -15 170 110'><path d='M10,40 C40,-20 100,100 130,40' stroke='purple' stroke-width='30' fill='none' stroke-linecap='round'/><path d='M10,40 C40,-20 100,100 130,40' stroke='white' stroke-width='23' fill='none' stroke-linecap='round'/></svg>");
}

.wave.striped.red {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-15 -15 170 110'><defs><pattern id='stripes' patternUnits='userSpaceOnUse' width='14' height='6' patternTransform='rotate(180)'><rect width='5' height='6' fill='red'/><rect x='4' width='7' height='6' fill='white'/></pattern><mask id='maskStroke'><rect width='140' height='80' fill='black'/><path d='M10,40 C40,-20 100,100 130,40' stroke='white' stroke-width='23' stroke-linecap='round' fill='none'/></mask></defs><path d='M10,40 C40,-20 100,100 130,40' fill='none' stroke='red' stroke-width='30' stroke-linecap='round'/><rect width='140' height='80' fill='url(%23stripes)' mask='url(%23maskStroke)'/></svg>");
}

.wave.striped.green {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-15 -15 170 110'><defs><pattern id='stripes' patternUnits='userSpaceOnUse' width='14' height='6' patternTransform='rotate(180)'><rect width='5' height='6' fill='green'/><rect x='4' width='7' height='6' fill='white'/></pattern><mask id='maskStroke'><rect width='140' height='80' fill='black'/><path d='M10,40 C40,-20 100,100 130,40' stroke='white' stroke-width='23' stroke-linecap='round' fill='none'/></mask></defs><path d='M10,40 C40,-20 100,100 130,40' fill='none' stroke='green' stroke-width='30' stroke-linecap='round'/><rect width='140' height='80' fill='url(%23stripes)' mask='url(%23maskStroke)'/></svg>");
}

.wave.striped.purple {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-15 -15 170 110'><defs><pattern id='stripes' patternUnits='userSpaceOnUse' width='14' height='6' patternTransform='rotate(180)'><rect width='5' height='6' fill='purple'/><rect x='4' width='7' height='6' fill='white'/></pattern><mask id='maskStroke'><rect width='140' height='80' fill='black'/><path d='M10,40 C40,-20 100,100 130,40' stroke='white' stroke-width='23' stroke-linecap='round' fill='none'/></mask></defs><path d='M10,40 C40,-20 100,100 130,40' fill='none' stroke='purple' stroke-width='30' stroke-linecap='round'/><rect width='140' height='80' fill='url(%23stripes)' mask='url(%23maskStroke)'/></svg>");
}

/* ----- מילוי ----- */

.full {
background-color: currentColor;
}
.empty {
background-color: transparent;
border: 3px solid currentColor;
mask-image: none; /* כדי לראות את הגבול בצורות בלי מילוי */
}
.striped {
background: repeating-linear-gradient(
  90deg,
  currentColor,
  currentColor 4px,
  transparent 4px,
  transparent 8px
);
border: 3px solid currentColor;
mask-image: var(--wave-mask); /* צריך להחזיר את המסכה */
mask-repeat: no-repeat;
mask-position: center;
mask-size: contain;
}

.diamond.striped
{
background: repeating-linear-gradient(
  45deg,
  currentColor,
  currentColor 2px,
  transparent 2px,
  transparent 4px
);
}

.wave.full {
  width: 110px;
  height: 80px;
  display: inline-block;
  -webkit-mask-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-15 -15 170 110'><path d='M10,40 C40,-20 100,100 130,40' stroke='black' stroke-width='30' fill='none' stroke-linecap='round'/></svg>");
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
  -webkit-mask-size: cover;
  mask-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-15 -15 170 110'><path d='M10,40 C40,-20 100,100 130,40' stroke='black' stroke-width='30' fill='none' stroke-linecap='round'/></svg>");
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: cover;
  margin: 5px;
  border: none;
}
.wave.empty {
  width: 110px;
  height: 80px;
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border: none;
  margin: 10px;
}
 .wave.striped {
  width: 110px;
  height: 80px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border: 0 solid transparent;
}

